/* GLOBALES */
body{
    background-color: green;
    font-size: 30px;
    color: whitesmoke;
    /*background-color: #000; */
    position: absolute;
}
.logo{
    width: 50%;
    position: relative;
}
/* INDEX */



/* PORTAFOLIO */
.tituloPortafolio{
    font-size: 24px;
}

#Titulo2{
    background-color: blue;
    width: 50%;
}